body {
  font-family: Arial, Calibri;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffe4c4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 24px;
  color: purple;
}

.form-group {
  margin: 20px 0;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

input[type="number"], input[type="text"], select {
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: black;
}
